body {
    margin: 0;
    font-family: monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    background: url(images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

#root {
    display: flex;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
