.container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    height: 100%;
    min-height: 600px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(6px) saturate(159%);
    -webkit-backdrop-filter: blur(6px) saturate(159%);
    background-color: rgba(255, 255, 255, 0.61);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.pointer {
    cursor: pointer;
}

.audio {
    width: 80%;
}

.icons {
    width: 3rem;
    height: 3rem;
    color: #404f5c;
    fill: #1D1E20;
}

.btnGroup {
    min-width: 200px;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.trackList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    list-style-type: none;
    list-style-position: unset;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.track {
    margin-bottom: 0.5rem;
    padding-left: 22px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 280px;
    width: 100%;
    height: 1.2em;
    white-space: nowrap;
    color: #404f5c;
}

.selectedSong {
    font-weight: bold;
    padding-left: 0;
}

.progress {
    width: 100%;
    margin-bottom: 1rem;
    height: 5px;
    -webkit-appearance: none;
    border-radius: 8px;
    background: #404f5c;
    transition: background 0.2s ease;
    cursor: pointer;
}
